<!DOCTYPE html>
<html>
<head>
    <title>Market Information</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <meta name="description" content="Market information">
    <meta name="author" content="Wenhua Lin">

    <link rel="stylesheet" href="css/market.css" />

    <script src="js/market.js"> </script>
</head>
<div class="stockshow" style="background-color: floralwhite;">
<body >
<!-- This is a comment -->
<!-- Do not display this at the moment
<img border="0" src="pic_mountain.jpg" alt="Mountain">
-->
    
<div class="row">
        <div class="column side">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="company names..">
                <input type="text" id="myInput" onkeyup="showHint(this.value)" placeholder="company names..">
                <p>Suggestions: <span id="txtHint"></span></p>
          <ul id="myUL">

            <li><a href="#">Google</a></li>
            <li><a href="#">Facebook</a></li>
    
            <li><a href="#">Amazon</a></li>
            <li><a href="#">Huawei</a></li>
    
            <li><a href="#">Lenovo</a></li>
            <li><a href="#">Apple</a></li>
            <li><a href="#">Orange</a></li>
          </ul>
    
      </div>
  <div class="column middle">
        <?php
        $limit = 50;
        $pages = ceil(sizeof($stocks)/$limit);
        $offset=0;
        $pagLink = "<div class='pagination'>"; 
        for ($i=0;$i<=$pages;$i++){
            $pagLink .= "<a href='Stock.class.php/page=".$i."'>".$i."</a>";
        }
        echo $pagLink . "</div>"; 
        ?>
        <!--Main content code to be written here --> 
        <table id="market">
            <tr>
                <th>id</th>
                <th>date</th>
                <th>symbol</th>
                <th>open</th>
                <th>close</th>
                <th>low</th>
                <th>high</th>
                <th>volume</th>

            </tr>
          <?php foreach($stocks as $stock): ?>
          <?php
            $ticket = $stock->get('id');
          ?>
            <tr>
                    <th><a href="pricing/<?= $stock->get('id') ?>"><?= $stock->get('id') ?></a></th>
                    <th><?= $stock->get('date') ?></th>
                    <th><?= $stock->get('symbol') ?></th>
                    <th><?= $stock->get('open') ?></th>
                    <th><?= $stock->get('close') ?></th>
                    <th><?= $stock->get('low') ?></th>
                    <th><?= $stock->get('high') ?></th>
                    <th><?= $stock->get('volume') ?></th>
            </tr>
          <?php endforeach; ?>

        </table>
        <div>
            
        </div>
  </div>
  
</div>

    
</body>
</div>
</html>
