
<link href="css/home.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <div class="logo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI7s-7pNwWIp9i4x28JEttaao-gmhqSmx_kGYpGTfuRc7eSCm9Hg" class="img-responsive center-block" alt="Logo">
            </div>
            <br>
            <div class="left-navigation">
                <ul class="list">
                    <h5><strong class="cat">Current Membership</strong></h5>
                    <li><a class="nav-link home-left" href="#">Prime</a></li>
                </ul>

                <br>

                <ul class="list">
                    <h5><strong class="cat">Change Membership</strong></h5>
                    <li><a class="nav-link home-left" href="#">XXX</a></li>
                    <li><a class="nav-link home-left" href="#">XXX</a></li>
                    <li><a class="nav-link home-left" href="#">XXX</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <!--Main content code to be written here -->
            <img class="main-content" src="http://vignette4.wikia.nocookie.net/justdance/images/7/70/Placeholder_pictos-sprite.png/revision/latest?cb=20150930150619" alt="placehoder">

        </div>
    </div>