<!DOCTYPE html>
<html>
<head>
    <title>Membership</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <meta name="description" content="Membership">

    <link rel="stylesheet" href="css/stock_info.css" />

    <script src="js/stock_info.js"> </script>
</head>
<div class="membership" style="background-color: floralwhite;">
    <body >
    <!-- This is a comment -->
    <!-- Do not display this at the moment
    <img border="0" src="pic_mountain.jpg" alt="Mountain">
    -->

    <div class="row">
        <div class="column side">
            <h2>Current Membership</h2>
            <p>Prime</p>
        </div>
        <div class="column middle">
            <h2><a href="#">Membership Privileges</a></h2>
            <table width="100%" cellpadding="3" cellspacing="0" bgcolor="#ddd" class="table">
                <thead>
                <tr >
                    <th>Membership</th>
                    <th>Price</th>
                    <th>Privileges</th>
                </tr>
                </thead>
                <tr >
                    <th>Trade</th>
                    <th>25$/month</th>
                    <th>Free Trading</th>
                </tr>
                <tr >
                    <th>Prime</th>
                    <th>55$/month</th>
                    <th>Free Trading, Our Exclusive Prediction Report</th>
                </tr>
                <tbody></tbody>
            </table>
            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>





        <div class="column side">
            <h2>Change Membership</h2>
            <p>Trade</p>
            <input type="submit" value="Cancel Membership">
        </div>
    </div>


    </body>
</div>
</html>


