<div class="stockshow" style="background-color: floralwhite; margin-left: 20px; margin-right: 20px;">

<!-- This is a comment -->
<!-- Do not display this at the moment
<img border="0" src="pic_mountain.jpg" alt="Mountain">
-->
    

  <div style="margin-left: 20px;>
      <input type="text" id="myInput1" onkeyup="myFunction()" placeholder="Ticker Symbol..">
          <h2>Graph</h2>
          <p>Period: 03/01/2012-04/01/2012</p>
    <canvas id="myCanvas" width="250" height="200"
            style="border:1px solid #000000;">

      </canvas>
  </div>
  <h3> View Stock:<?= $symbol ?></h3>


</div>