<!DOCTYPE html>
<html>
<head>
    <title>Market Information</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <meta name="description" content="Market information">
    <meta name="author" content="Wenhua Lin">

    <link rel="stylesheet" href="css/market.css" />

    <script src="js/market.js"> </script>
</head>
<div class="stockshow" style="background-color: floralwhite;">
<body >
<!-- This is a comment -->
<!-- Do not display this at the moment
<img border="0" src="pic_mountain.jpg" alt="Mountain">
-->
    
<div class="row">
  <div class="column side">
      <input type="text" id="myInput1" onkeyup="myFunction()" placeholder="Ticker Symbol..">
          <h2>Graph</h2>
      <p>Period: 03/01/2012-04/01/2012</p>
    <canvas id="myCanvas" width="250" height="200"
            style="border:1px solid #000000;">
      </canvas>
  </div>
</div>

    
</body>
</div>
</html>